@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-section {
  background: #e0e0e0;
  position: relative;
}
#header-section .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  color: #333b46;
  text-align: center;
  z-index: 10;
}
#header-section .centered-text h1 {
  font-size: 2.1875em;
  letter-spacing: 2px;
}
#header-section .centered-text h4 {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 5px;
}

.scroll-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  height: auto;
  bottom: 5.2em;
  left: 50%;
  right: 50%;
  text-align: center;
  cursor: pointer;
}
.scroll-box span {
  margin-top: 1em;
  font-size: 0.75em;
  color: #e84c3d;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

header {
  min-width: 100%;
  height: auto;
  order: -1;
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
}

#brand-logo {
  font-size: 1.75em;
  text-decoration: none;
  font-family: "Leckerli One", cursive;
  color: #e84c3d;
  margin-left: 6.25em;
  margin-top: 3.25em;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin-right: 10.75em;
  margin-top: 5.4em;
}
.nav-links .nav-link {
  margin-left: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.87em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav-links .nav-link:hover {
  font-weight: 700;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 50em;
  width: 100%;
}
.header-content img {
  position: absolute;
  max-width: 40%;
}
.header-content .headphones {
  top: 9.75em;
  left: 0;
}
.header-content .pen-holder {
  right: 5em;
  top: 29.31em;
  z-index: 1;
}
.header-content .juice-glass {
  top: 15em;
  right: 10em;
  z-index: 1;
}
.header-content .cork {
  top: 15.5em;
  right: 10em;
}
.header-content .eye-glasses {
  left: 12.37em;
  top: 30em;
}
.header-content .pencil-1 {
  left: 7.62em;
  bottom: 6.56em;
}
.header-content .pencil-2 {
  left: 5em;
  bottom: 6.9em;
}
.header-content .mouse-img {
  bottom: 3em;
  right: 24em;
}
.header-content .icon-scroll {
  margin-bottom: 1.5em;
  position: relative;
}

.hamburger-menu {
  display: none;
  align-items: flex-end;
  cursor: pointer;
  margin-right: 5%;
}

.hamb-menu-bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: #333b46;
}

@media (max-width: 1201px) {
  .nav-links {
    top: 40%;
    opacity: 0;
    position: absolute;
    flex-direction: column;
    background-color: #636c79;
    width: 100%;
    transition: all 0.2s ease-in;
    padding: 1em;
    box-shadow: 2px 5px 26px 9px #a6a6a6;
  }

  .nav-link {
    margin-bottom: 15px;
    color: white;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-links.active {
    opacity: 1;
    z-index: 15;
  }
}
@media (max-width: 768px) {
  #brand-logo {
    margin-left: 10%;
  }

  .scroll-box {
    bottom: 2em;
  }
}
@media (max-width: 480px) {
  #header-section {
    font-size: 14px;
  }

  .header-content .eye-glasses {
    display: none;
  }
  .header-content .juice-glass {
    top: 7em;
    right: 1em;
    z-index: 1;
    width: 20%;
  }
  .header-content .cork {
    top: 7em;
    right: 1em;
    width: 25%;
  }
  .header-content .headphones {
    top: 4em;
  }
  .header-content .pen-holder {
    width: 25%;
    right: 1.5em;
    bottom: 4em;
  }
  .header-content .mouse-img {
    bottom: 12em;
    left: 2em;
  }
}
#about-us {
  display: flex;
  padding: 7.5em 10%;
  background: #f3f3f3;
}
#about-us h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  letter-spacing: 4.5px;
}
#about-us p {
  color: #81868e;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  padding-right: 20%;
  line-height: 2em;
}
#about-us button {
  height: 2.68em;
  width: 10em;
  background: #e84c3d;
  border: none;
  border-radius: 0.3em;
  color: white;
  margin-top: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 1.4px;
}
#about-us button:hover {
  cursor: pointer;
  background: #fc7064;
}
#about-us .line {
  height: 3px;
  background: #898989;
  width: 46px;
  margin: 1.5em 0 2em 0;
}
#about-us .about-us-img {
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1000px) {
  #about-us {
    flex-direction: column;
  }

  .about-us-img {
    margin-top: 2em;
  }
}
@media (max-width: 480px) {
  .about-us-img {
    min-width: 30%;
  }
  .about-us-img img {
    width: 100%;
  }
}
#what-we-do {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f3f3f3;
}
#what-we-do h4 {
  font-family: "Roboto", sans-serif;
}
#what-we-do .what-we-do-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.what-we-do-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em 4em;
  width: 100%;
}

@media (max-width: 768px) {
  #what-we-do {
    font-size: 15px;
  }

  .what-we-do-cards {
    flex-direction: column;
    padding: 5% 5%;
  }
}
@media (max-width: 480px) {
  #what-we-do {
    font-size: 12px;
  }

  .what-we-do-cards {
    flex-direction: column;
    padding: 2% 5%;
  }
}
@media (max-width: 320px) {
  #what-we-do {
    font-size: 10px;
  }
}
#views {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url("/page/images/numSection.jpg");
  background-size: cover;
  height: 23em;
  color: white;
  font-family: "Roboto", sans-serif;
}

.views-card {
  width: 12.5em;
  margin: 1.5em;
}

.views-card-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2em;
}
.views-card-title i {
  font-size: 2.5em;
  margin-right: 0.4em;
}

h2 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 2.1px;
}

.views-line {
  background: white;
  height: 2px;
  width: 3em;
  margin-top: 1.5em;
}

.views-desc {
  font-weight: 300;
}

.views-card-pair {
  display: flex;
}

@media (max-width: 1000px) {
  .views-card-pair {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #views {
    font-size: 11px;
  }
}
#three-steps {
  display: flex;
  flex-direction: column;
  padding: 6em;
  background: #f3f3f3;
}

.three-steps-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.three-steps-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.8em;
  position: relative;
}

.three-steps-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18.75em;
  text-align: center;
}
.three-steps-card h4 {
  font-family: "Roboto", sans-serif;
  color: #333b46;
  margin-bottom: 2em;
  letter-spacing: 2px;
}
.three-steps-card p {
  font-family: "Open Sans", sans-serif;
  color: #81868e;
  letter-spacing: 0.8px;
}

.three-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 7em;
  width: 7em;
  background: #f3f3f3;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  z-index: 1;
  margin-bottom: 2em;
}

.three-step-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 5.18em;
  height: 5.18em;
  background: #e6e6e6;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
.three-step-icon-box i {
  font-size: 2em;
  color: #e84c3d;
}

.three-cards-strikethrough {
  position: absolute;
  top: 25%;
  width: 70%;
  height: 1px;
  background: #c2c2c2;
  z-index: 0;
}

@media (max-width: 768px) {
  #three-steps {
    padding: 10% 5%;
  }

  .three-steps-cards {
    flex-direction: column;
    font-size: 15px;
  }

  .three-cards-strikethrough {
    display: none;
  }

  .three-steps-card {
    margin: 1em;
  }

  .three-steps-desc {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .three-steps-cards {
    flex-direction: column;
    font-size: 12px;
  }
}
#featured-work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ececec;
  padding-top: 6em;
}

.featured-work-cards {
  margin-top: 4.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.featured-work-cards .featured-card {
  position: relative;
}
.featured-work-cards .featured-card img {
  max-width: 100%;
}
.featured-work-cards .detail-btn {
  width: 156px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.featured-work-cards .detail-btn:hover {
  cursor: pointer;
  background: white;
  color: #333b46;
}
.featured-work-cards .featured-hover-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 92%;
  background-color: rgba(223, 55, 39, 0.66);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.featured-work-cards .featured-hover-box:hover {
  opacity: 1;
}

#best-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.75em;
  background: #f3f3f3;
}
#best-service img {
  min-width: 30%;
}

.best-service-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4.2em;
  background: #e84c3d;
  color: white;
  width: 100%;
}

.best-service-desc {
  max-width: 55%;
  padding: 5%;
}

.best-service-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.service-box-right {
  flex-direction: row-reverse;
  margin: 0;
  padding-left: 6.1em;
}

@media (max-width: 768px) {
  #best-service {
    font-size: 16px;
  }
  #best-service img {
    width: 100%;
  }

  .best-service-desc {
    max-width: 90%;
    padding: 5%;
  }

  .best-service-box {
    flex-direction: column;
  }

  .service-box-right {
    padding: 0;
  }
}
@media (max-width: 480px) {
  #best-service {
    font-size: 12px;
  }

  .best-service-text {
    font-size: 12;
  }
}
#create-business {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/page/images/buildings.png");
  background-size: cover;
  height: 24.5em;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
#create-business h1 {
  font-size: 1.85em;
  margin-bottom: 1em;
  letter-spacing: 8px;
}
#create-business h1,
#create-business h4 {
  font-weight: 300;
}
#create-business h4 {
  font-size: 1.25em;
  margin-bottom: 2em;
  letter-spacing: 5px;
}
#create-business button {
  width: 11em;
  height: 3em;
  border: none;
  border-radius: 5px;
  color: white;
  background: #e84c3d;
  cursor: pointer;
}

@media (max-width: 480px) {
  #create-business {
    font-size: 14px;
  }
}
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  background: #f3f3f3;
}

.portfolio-categories {
  width: 40%;
  margin-top: 5em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.portfolio-categ-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.categ-name {
  padding-bottom: 1em;
}

.active-categ {
  border-bottom: 3px solid #333b46;
}

@media (max-width: 1000px) {
  #portfolio .portfolio-categories {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #portfolio {
    font-size: 14px;
  }
}
#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: no-repeat url("/page/images/subscribeBG.png");
  background-size: cover;
  height: 19.125em;
}
#subscribe .subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}
#subscribe .subscribe-input .subscribe-button,
#subscribe .subscribe-input .subscribe-input-box {
  outline: none;
  background: none;
  padding: 1.2em;
  color: white;
  font-size: 0.875em;
  border: 1px solid white;
}
#subscribe .subscribe-input .subscribe-input-box {
  outline: none;
  background: none;
  width: 17.125em;
}
#subscribe .subscribe-input ::placeholder {
  color: white;
}
#subscribe .subscribe-input .subscribe-button {
  width: 8.18em;
  color: white;
  border-left: none;
  cursor: pointer;
}

.subscribe-desc {
  width: 45%;
  color: white;
}
.subscribe-desc .subscribe-text {
  line-height: 2em;
  font-weight: 300;
}
.subscribe-desc .subscribe-line {
  width: 57px;
  height: 2px;
}

@media (max-width: 768px) {
  #subscribe {
    flex-direction: column;
    font-size: 14px;
  }

  .subscribe-desc {
    width: 90%;
  }
  .subscribe-desc .section-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
  }
  .subscribe-desc .section-desc .subscribe-text {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 361px) {
  #subscribe .subscribe-desc-box {
    font-size: 13px;
  }
}
#meet-crew {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.25em;
  padding-bottom: 5em;
  background: #ececec;
}

.meet-crew-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  margin-top: 6.25em;
}
.meet-crew-cards .meet-crew-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}
.meet-crew-cards .meet-card-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.meet-crew-cards .meet-card-img-box .meet-card-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 51%;
  width: 90%;
  height: 45%;
  background: #e84c3d;
  color: white;
  padding: 1em;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.meet-crew-cards .meet-card-img-box .meet-card-hover:hover {
  opacity: 1;
}
.meet-crew-cards .meet-card-img-box .meet-card-hover p {
  font-size: 0.687em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2em;
}
.meet-crew-cards .meet-card-iconbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.meet-crew-cards .meet-card-icon {
  height: 29px;
  width: 29px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.meet-crew-cards .meet-card-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2.1em;
}
.meet-crew-cards .meet-card-about h4 {
  letter-spacing: 3px;
  font-size: 1em;
}
.meet-crew-cards .meet-card-about p {
  margin-top: 1em;
  letter-spacing: 2px;
  font-size: 0.75em;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/page/images/testimonialsBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 681px;
  padding: 5%;
  transition: all 0.2s ease-in-out;
}
#testimonials .testimonials-desc {
  color: white;
}
#testimonials .testimonials-desc-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: 5px;
}
#testimonials .testimonials-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}
#testimonials .testimonials-carousel-item h4,
#testimonials .testimonials-carousel-item p {
  letter-spacing: 2px;
  margin-top: 2.7em;
}
#testimonials .testimonials-carousel-item h4 {
  font-family: "Roboto", sans-serif;
  color: #e84c3d;
  font-size: 1.25em;
}
#testimonials .testimonials-carousel-item p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  font-size: 1em;
  font-weight: 300;
  width: 60%;
  text-align: center;
  line-height: 1.6em;
}
#testimonials .testimonials-carousel-dots {
  display: flex;
  margin-top: 2.3em;
}
#testimonials .testimonials-carousel-dot {
  height: 10px;
  width: 10px;
  border: 1px solid #e84c3d;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#testimonials .dot-active {
  background: #e84c3d;
}
#testimonials .fade-in {
  animation-name: fade-in-animation;
  animation-duration: 2s;
}
@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#testimonials .testimonials-second-img {
  width: 161px;
  height: 154px;
}

@media (max-width: 480px) {
  #testimonials {
    font-size: 14px;
  }
  #testimonials .testimonials-carousel-item p {
    width: 90%;
  }
}
#latest-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.75em;
  background: #f3f3f3;
}

.blog-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5.35em;
  width: 60%;
}
.blog-cards .blog-card-about {
  font-family: "Roboto", sans-serif;
}
.blog-cards .blog-card-about h1 {
  font-size: 1em;
  letter-spacing: 1px;
}
.blog-cards .blog-card-about p {
  font-size: 0.875em;
  font-weight: 300;
  margin-top: 0.7em;
}
.blog-cards .blog-card-about .blog-card-line {
  border: none;
  height: 3px;
  width: 46px;
  background: white;
  margin: 1.5em 0 2em 0;
}
.blog-cards .blog-card-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
}
.blog-cards .blog-card-date-box {
  margin-top: 1.4em;
}

article {
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card {
  background: url("/page/images/latest-blog/blog2.png");
  height: 390px;
  width: 100%;
  position: relative;
  margin: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card2 {
  background: url("/page/images/latest-blog/blog1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  background: #e84c3d;
  color: white;
  padding: 1em;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.blog-card-desc:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  .blog-cards {
    flex-direction: column;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .blog-cards {
    font-size: 14px;
  }

  .blog-card-desc {
    width: 100%;
    height: 50%;
    bottom: 0;
  }
}
#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.75em;
  background: #f3f3f3;
}
#pricing .pricing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3.5em;
  color: #81868e;
}
#pricing .pricing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30em;
  width: 20em;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin: 1.8em;
}
#pricing .pricing-card h4 {
  font-family: "Roboto", sans-serif;
}
#pricing .pricing-card span,
#pricing .pricing-card h4,
#pricing .pricing-card .pricing-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
#pricing .pricing-card span {
  flex: 1;
}
#pricing .pricing-card span i {
  font-size: 1.25em;
}
#pricing .pricing-card .pricing-unlimited {
  font-size: 0.81em;
}
#pricing .pricing-card h4,
#pricing .pricing-card .pricing-button-box {
  flex: 2;
}
#pricing .pricing-card .pricing-signup-btn {
  border: 1px solid #d7d7d7;
  padding: 11px;
  width: 118px;
  border-radius: 5px;
  color: black;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
#pricing .pricing-card .pricing-signup-btn:hover {
  border: none;
  background: #e84c3d;
  color: white;
}
#pricing .pricing-card:hover {
  box-shadow: 1px 5px 15px 9px #d4d4d4;
}

@media (max-width: 480px) {
  #pricing {
    font-size: 14px;
  }
}
#get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6.25em;
  padding-bottom: 5.75em;
  background: #f3f3f3;
}
#get-in-touch .get-in-touch-inputs {
  margin-bottom: 1.375em;
}
#get-in-touch .get-in-touch-area-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#get-in-touch .get-in-touch-area-btn button {
  font-family: "Open Sans", sans-serif;
  width: 16.875em;
  height: 3.06em;
  background: #e84c3d;
  color: white;
  border: none;
  margin-top: 1.3em;
  cursor: pointer;
  letter-spacing: 1px;
}
#get-in-touch .get-in-touch-area-btn button:hover {
  background: #f56d61;
}

.get-in-touch-form .input-name,
.get-in-touch-form .input-email,
.get-in-touch-form textarea {
  font-family: "Open Sans", sans-serif;
  outline: none;
  padding: 0.9em;
  border: 3px solid #ebebeb;
  background: none;
  color: #81868e;
}
.get-in-touch-form textarea {
  resize: none;
}
.get-in-touch-form input {
  width: 16.75em;
  height: 3.125em;
}
.get-in-touch-form .input-name {
  margin-right: 1em;
}
.get-in-touch-form .input-email {
  margin-left: 1em;
}

.get-in-contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2.2em;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2em;
  width: 40%;
}
.get-in-contact-info .get-in-contact-info-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1em;
}
.get-in-contact-info .get-in-contact-info-box .contact-icons {
  font-size: 1.875em;
  color: #e84c3d;
  margin-right: 1em;
}
.get-in-contact-info .get-in-contact-info-box .fa-location-dot {
  margin-right: 1.23em;
}
.get-in-contact-info .get-in-contact-info-box span {
  font-size: 0.875em;
  color: #81868e;
  letter-spacing: 1px;
}

.contact-form-hr {
  display: none;
}

.get-in-touch-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 5.25em;
}

@media (max-width: 768px) {
  #get-in-touch {
    font-size: 15px;
  }

  .get-in-touch-contact {
    flex-direction: column;
  }

  .contact-form-hr {
    display: block;
    border: none;
    border-top: 1px solid #e0e0e0;
    width: 90%;
    margin: 2em;
  }

  .get-in-contact-info {
    width: 90%;
  }
}
@media (max-width: 480px) {
  #get-in-touch {
    font-size: 12px;
  }

  .get-in-touch-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .get-in-touch-form .input-name,
.get-in-touch-form .input-email {
    margin: 0.3em 0;
    width: 100%;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 5.25em;
  background: #e84c3d;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.9em;
}

.grid {
  width: 70%;
  margin-top: 3.3em;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 20%;
  max-width: 28%;
  position: relative;
}
.grid-item img {
  width: 100%;
}

.grid-item-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.grid-item-9 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid-hover-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: red;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 2em;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
}
.grid-hover-box:hover {
  opacity: 0.5;
}
.grid-hover-box div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.grid-hover-box .grid-hover-title {
  font-size: 0.9em;
  margin-bottom: 0.8em;
  font-weight: 500;
}
.grid-hover-box .grid-hover-subtitle {
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 1.2em;
}
.grid-hover-box .grid-hover-line {
  border: none;
  border-top: 2px solid #c2c2c2;
  width: 34px;
}

.grid-img-box {
  position: relative;
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    font-size: 16px;
  }

  .grid-hover-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .grid-hover-box .grid-hover-title {
    font-size: 0.8em;
    margin-bottom: 0.3em;
  }
  .grid-hover-box .grid-hover-subtitle {
    font-size: 0.6em;
    margin-bottom: 0.3em;
  }
}
@media (max-width: 480px) {
  .grid {
    font-size: 10px;
  }
}
.what-we-do-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 33%;
  min-height: 13em;
  border: 3px solid #ebebeb;
  border-radius: 7px;
  padding: 1.8em;
  transition: all 0.2s ease-in-out;
  margin: 1em;
}
.what-we-do-card:hover {
  background: #e84c3d;
  border-color: #e84c3d;
  cursor: pointer;
}
.what-we-do-card:hover .what-card-desc h4,
.what-we-do-card:hover .what-card-desc p {
  color: white;
}
.what-we-do-card:hover .what-icon-wrapper {
  transition: all 0.2s ease-in-out;
  background: white;
}
.what-we-do-card:hover .what-icon-wrapper i {
  transition: all 0.2s ease-in-out;
  color: #e84c3d;
}
.what-we-do-card .what-card-icon-box,
.what-we-do-card .what-card-desc {
  height: 100%;
}
.what-we-do-card .what-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2em;
}
.what-we-do-card .what-card-desc h4 {
  font-size: 1em;
  color: #898989;
}
.what-we-do-card .what-card-desc p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7em;
  color: #898989;
  font-size: 0.875em;
}
.what-we-do-card .what-card-desc .what-we-do-line {
  background: #d7d7d7;
  height: 2px;
  width: 31px;
  margin: 1.5em 0;
}
.what-we-do-card .what-icon-wrapper {
  width: 6.75em;
  height: 6.75em;
  background-color: #e84c3d;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-do-card .what-icon-wrapper i {
  font-size: 2.81em;
  color: white;
}

@media (max-width: 1201px) {
  .what-we-do-card {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .what-we-do-card {
    width: 97%;
  }
}
.section-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-desc .section-text,
.section-desc .section-white-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  width: 60%;
}
.section-desc .section-text {
  color: #81868e;
}
.section-desc .section-white-text {
  color: white;
}
.section-desc .section-title {
  font-size: 1.25em;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
}

.section-line,
.white-line {
  height: 3px;
  width: 46px;
  margin: 3% 0 5% 0;
}

.section-line {
  background: #898989;
}

.white-line {
  background: white;
}

.section-left-align {
  align-items: flex-start;
  text-align: left;
}

.section-desc-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 480px) {
  .section-desc {
    font-size: 13px;
  }
}