.section-desc {
  @include flex-align-center($direction: column);
  text-align: center;
  //   width: 60%;
  .section-text {
    font-family: $open-sans;
    font-size: 0.875em;
    letter-spacing: 1px;
    width: 60%;
  }

  .section-title {
    font-size: 1.25em;
    letter-spacing: 5px;
    font-family: $roboto;
  }

  .section-line {
    height: 3px;
    background: rgb(137, 137, 137);
    width: 46px;
    margin: 1.5em 0 2em 0;
  }
  .white-line {
    height: 3px;
    background: white;
    width: 46px;
    margin: 1.5em 0 2em 0;
  }
}
.section-left-align {
  align-items: flex-start;
  text-align: left;
}
