#about-us {
  display: flex;
  padding: 7.5em 10%;
  background: $about-us-white;

  h3 {
    font-family: $roboto;
    font-size: 1.25em;
    letter-spacing: 4.5px;
  }
  p {
    color: #81868e;
    font-family: $open-sans;
    font-size: 0.875em;
    padding-right: 20%;
    line-height: 2em;
  }
  button {
    height: 2.68em;
    width: 10em;
    background: rgb(232, 76, 61);
    border: none;
    border-radius: 0.3em;
    color: white;
    margin-top: 2.5em;
    font-family: $roboto;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1.4px;
    &:hover {
      cursor: pointer;
      background: rgb(252, 112, 100);
    }
  }
  .line {
    height: 3px;
    background: rgb(137, 137, 137);
    width: 46px;
    margin: 1.5em 0 2em 0;
  }

  .about-us-img {
    min-width: 40%;
    @include flex-center-all;

    // img {
    //   width: 50%;
    // }
  }
}

@media (max-width: $max-medium) {
  #about-us {
    flex-direction: column;
  }

  .about-us-img {
    margin-top: 2em;
  }
}

@media (max-width: $max-mobile) {
  .about-us-img {
    min-width: 30%;
    img {
      width: 100%;
    }
  }
}
