#best-service {
  @include flex-center-all($direction: column);
  @include standard-padding-top;
  background: $about-us-white;
}

.best-service-images {
  @include flex-justify-center($direction: column);
  margin-top: 4.2em;
  background: $logo-color;
  color: white;
  width: 100%;
}
img {
  min-width: 30%;
}
.best-service-desc {
  max-width: 55%;
  padding: 5%;
}

.service-box-right {
  flex-direction: row-reverse;
  margin: 0;
  padding-left: 6.1em;
}
.best-service-box {
  @include flex-align-center;
  justify-content: space-between;
}

@media (max-width: $max-tablets) {
  #best-service {
    font-size: 16px;
  }
  .best-service-desc {
    max-width: 90%;
    padding: 2%;
  }

  .best-service-box {
    flex-direction: column;
  }

  .service-box-right {
    padding: 0;
  }
  img {
    width: 100%;
  }
}
