#best-service {
  @include flex-center-all($direction: column);
  @include standard-padding-top;
  background: $about-us-white;
  img {
    min-width: 30%;
  }
}

.best-service-images {
  @include flex-justify-center($direction: column);
  margin-top: 4.2em;
  background: $logo-color;
  color: white;
  width: 100%;
}

.best-service-desc {
  max-width: 55%;
  padding: 5%;
}

.best-service-box {
  @include flex-align-center;
  justify-content: space-between;
}
.service-box-right {
  flex-direction: row-reverse;
  margin: 0;
  padding-left: 6.1em;
}

@media (max-width: $max-tablets) {
  #best-service {
    font-size: 16px;
    img {
      width: 100%;
    }
  }
  .best-service-desc {
    max-width: 90%;
    padding: 5%;
  }

  .best-service-box {
    flex-direction: column;
  }

  .service-box-right {
    padding: 0;
  }
}

@media (max-width: $max-mobile) {
  #best-service {
    font-size: 12px;
  }

  .best-service-text {
    font-size: 12;
  }
}
