#header-section {
  background: $header-background-color;
  position: relative;

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $open-sans;
    color: $dark-blue;
    text-align: center;
    z-index: 10;
    h1 {
      font-size: 2.1875em;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 5px;
    }
  }
}
.scroll-box {
  @include flex-align-center($direction: column);
  position: absolute;
  justify-content: space-around;
  height: auto;
  bottom: 5.2em;
  left: 50%;
  right: 50%;
  text-align: center;
  cursor: pointer;
  span {
    margin-top: 1em;
    font-size: 0.75em;
    color: $logo-color;
    font-family: $open-sans;
    font-weight: 500;
  }
}

header {
  min-width: 100%;
  height: auto;
  order: -1;
  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
  }
}
#brand-logo {
  font-size: 1.75em;
  text-decoration: none;
  font-family: 'Leckerli One', cursive;
  color: $logo-color;
  margin-left: 6.25em;
  margin-top: 3.25em;
}

.nav-links {
  @include flex-align-center;
  list-style: none;
  margin-right: 10.75em;
  margin-top: 5.4em;
  .nav-link {
    margin-left: 2em;
    font-family: $open-sans;
    font-size: 0.87em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      font-weight: 700;
    }
  }
}

.header-content {
  @include flex-center-all;
  position: relative;
  height: 50em;
  width: 100%;

  img {
    position: absolute;
    max-width: 40%;
  }

  .headphones {
    top: 9.75em;
    left: 0;
  }
  .pen-holder {
    right: 5em;
    top: 29.31em;
    z-index: 1;
  }

  .juice-glass {
    top: 15em;
    right: 10em;
    z-index: 1;
  }

  .cork {
    top: 15.5em;
    right: 10em;
  }

  .eye-glasses {
    left: 12.37em;
    top: 30em;
  }

  .pencil-1 {
    left: 7.62em;
    bottom: 6.56em;
  }
  .pencil-2 {
    left: 5em;
    bottom: 6.9em;
  }

  .mouse-img {
    bottom: 3em;
    right: 24em;
  }

  .icon-scroll {
    margin-bottom: 1.5em;
    position: relative;
  }
}

.hamburger-menu {
  display: none;
  align-items: flex-end;
  cursor: pointer;
  margin-right: 5%;
}

.hamb-menu-bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: $dark-blue;
}

@media (max-width: $max-large) {
  .nav-links {
    top: 40%;
    opacity: 0;
    position: absolute;
    flex-direction: column;
    background-color: #636c79;
    width: 100%;
    transition: all 0.2s ease-in;
    padding: 1em;
    box-shadow: 2px 5px 26px 9px #838282;
  }
  .nav-link {
    margin-bottom: 15px;
    color: white;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-links.active {
    opacity: 1;
    z-index: 15;
  }
}

@media (max-width: $max-tablets) {
  #brand-logo {
    margin-left: 10%;
  }
  .scroll-box {
    bottom: 2em;
  }
}

@media (max-width: $max-mobile) {
  #header-section {
    font-size: 14px;
  }
  .header-content {
    .eye-glasses {
      display: none;
    }

    .juice-glass {
      top: 7em;
      right: 1em;
      z-index: 1;
      width: 20%;
    }

    .cork {
      top: 7em;
      right: 1em;
      width: 25%;
    }
    .headphones {
      top: 4em;
    }
    .pen-holder {
      width: 25%;
      right: 1.5em;
      bottom: 4em;
    }
    .mouse-img {
      bottom: 12em;
      left: 2em;
    }
  }
}
