#portfolio {
  @include flex-center-all($direction: column);
  padding-top: 6em;
  background: $lightest-grey;

  .portfolio-categories {
    width: 30%;
    margin-top: 5em;
    font-size: 1em;
    font-weight: 500;
    font-family: $open-sans;

    .portfolio-categ-list {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
}
