#pricing {
  @include flex-center-all($direction: column);
  @include standard-padding-top;
  background: $about-us-white;

  .pricing-cards {
    @include flex-center-all;
    flex-wrap: wrap;
    margin-top: 3.5em;
    color: $header-light-grey;
  }

  .pricing-card {
    @include flex-center-all($direction: column);
    height: 30em;
    width: 20em;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin: 1.8em;
    h4 {
      font-family: $roboto;
    }

    span,
    h4,
    .pricing-button-box {
      @include flex-center-all;
      border-bottom: 1px solid #d7d7d7;
      width: 100%;
      font-family: $open-sans;
    }

    span {
      flex: 1;

      i {
        font-size: 1.25em;
      }
    }

    .pricing-unlimited {
      font-size: 0.81em;
    }
    h4,
    .pricing-button-box {
      flex: 2;
    }

    .pricing-signup-btn {
      border: 1px solid #d7d7d7;
      padding: 11px;
      width: 118px;
      border-radius: 5px;
      color: black;
      transition: all 0.2s ease-in;
      cursor: pointer;

      &:hover {
        border: none;
        background: $logo-color;
        color: white;
      }
    }

    &:hover {
      box-shadow: 1px 5px 15px 9px #d4d4d4;
    }
  }
}

@media (max-width: $max-mobile) {
  #pricing {
    font-size: 13px;
    .pricing-card {
      height: 27em;
      width: 17em;
    }
  }
}
