#three-steps {
  display: flex;
  flex-direction: column;
  padding: 6em;

  .three-steps-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: $roboto;
      color: #333b46;
      margin-bottom: 1.3em;
      letter-spacing: 5px;
    }
    .three-steps-line {
      background: #81868e;
      height: 3px;
      width: 46px;
      margin-bottom: 2em;
    }
    p {
      font-family: $open-sans;
      color: #81868e;
    }
  }

  .three-steps-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;

    .three-steps-card {
      width: 18.75em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h4 {
        font-family: $roboto;
        color: #333b46;
      }
      p {
        font-family: $open-sans;
        color: #81868e;
      }

      .three-step-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7em;
        height: 7em;
        background: #e6e6e6;
        border-radius: 50%;
        padding: 10px;
        background-clip: content-box;
        border: 1px solid #e6e6e6;

        i {
          font-size: 2em;
          color: $logo-color;
        }
      }
    }
  }
}
