#three-steps {
  display: flex;
  flex-direction: column;
  padding: 6em;
  background: $about-us-white;

  .three-steps-top {
    @include flex-center-all($direction: column);
  }

  .three-steps-bottom {
    @include flex-align-center;
    justify-content: space-around;
    margin-top: 3.8em;

    .three-steps-card {
      @include flex-center-all($direction: column);
      width: 18.75em;
      text-align: center;

      h4 {
        font-family: $roboto;
        color: #333b46;
        margin-bottom: 2em;
        letter-spacing: 2px;
      }
      p {
        font-family: $open-sans;
        color: #81868e;
        letter-spacing: 0.8px;
      }

      .three-step-icon-box {
        @include flex-center-all;
        width: 7em;
        height: 7em;
        background: #e6e6e6;
        border-radius: 50%;
        padding: 10px;
        background-clip: content-box;
        border: 1px solid #e6e6e6;
        margin-bottom: 2em;
        position: relative;

        // .three-step-line {
        //   position: absolute;
        //   right: -100%;
        //   top: 50%;
        //   height: 2px;
        //   background: black;
        //   width: 700px;
        //   z-index: -1;
        // }

        i {
          font-size: 2em;
          color: $logo-color;
        }
      }
    }
  }
}
