#what-we-do {
  @include flex-align-center($direction: column);
  background: $about-us-white;

  h4 {
    font-family: $roboto;
  }

  .what-we-do-desc {
    @include flex-center-all;
    text-align: center;
  }
}
.what-we-do-cards {
  @include flex-justify-center;
  flex-wrap: wrap;
  padding: 3em 4em;
  width: 100%;
}

@media (max-width: $max-tablets) {
  #what-we-do {
    font-size: 15px;
  }

  .what-we-do-cards {
    flex-direction: column;
    padding: 5% 5%;
  }
}

@media (max-width: $max-mobile) {
  #what-we-do {
    font-size: 15px;
  }

  .what-we-do-cards {
    flex-direction: column;
    padding: 2% 5%;
  }
}

@media (max-width: $min-mobile) {
  #what-we-do {
    font-size: 13px;
  }
}
