@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//COLORS
$header-background-color: #e0e0e0;
$logo-color: #e84c3d;
$dark-blue: #333b46;
$header-light-grey: #81868e;
$about-us-white: #f3f3f3;
$lightest-grey: #ececec;

//FONTS

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
