@mixin flex-justify-center($direction: null) {
  display: flex;
  justify-content: center;
  @if ($direction) {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
}

@mixin flex-align-center($direction: null) {
  display: flex;
  align-items: center;
  @if ($direction) {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
}

@mixin flex-center-all($direction: null) {
  display: flex;
  justify-content: center;
  align-items: center;
  @if ($direction) {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
}

@mixin smooth-transition {
  transition: all 0.2s ease-in-out;
}
